# Private datasets
GTFS/data/raw/*
GLFS/data/raw/*

# Processed data
GTFS/data/processed/*
GLFS/data/processed/*

# Generated reports
GTFS/data_processing_report/
GTFS/regression_report/
GTFS/classification_report/
GTFS/summary_report/

GLFS/data_processing_report/
GLFS/regression_report/
GLFS/classification_report/
GLFS/summary_report/

# Trained models - ignore by default
GTFS/regression_models/*
GTFS/classification_models/*
GLFS/regression_models/*
GLFS/classification_models/*

# Python cache
__pycache__/
*.py[cod]
